{% extends 'base.html.twig' %}

{% block title %}Ohana - Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <div class="w-50 mx-auto">
        {{ form(form) }}
        <!--Create a submit button-->
    </div>


{% endblock %}